:root {
    --header-color: rgb(255, 255, 255);
    --navbar-color: rgb(202, 206, 226);
    --main-color: rgb(226, 227, 240);
    --footer-color: rgb(53, 54, 86);
    --red-button: rgb(235, 93, 88);
    --red-button-hover: rgb(250, 121, 117);
    --red-button-active: rgb(235, 93, 88);
    --blue-button: rgb(74, 77, 159);
    --blue-button-hover: rgb(91, 96, 185);;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    width: 100%;
}

header {
    width: 100%;
}

.active-block {
    display: block !important;
}

/* Top Header css */

#top-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--header-color);
    height: 100px;
    align-items: center;
}

.ntnu {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
}

.ntnu a {
    margin-left: 10%;
}

.ntnu img {
    height: 60%;
}

.title {
    height: 100%;
    font-size: 60px;
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    white-space: nowrap;
}

.title a {
    text-decoration: none;
    color: rgb(60, 63, 135);
}

.online a,
.ntnu a {
    height: 100%;
    display: flex;
    align-items: center;
}

.online {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.online a {
    margin-right: 10%;
}

.online img {
    height: 80%;
}

/* Navbar css */

nav {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--navbar-color);
}

nav a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

/* Main css */

#overlay-background {
    display: none;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#overlay-content {
    display: none;
    position: fixed;
    z-index: 10;
    width: 30%;
    min-width: 350px;
    padding: 20px 0 10px;
    margin-top: 10vh;
    background-color: white;
    overflow: auto;
}

#overlay-close {
    position: absolute;
    font-size: 25px;
    right: 0;
    top: 0;
    padding: 2px;
    margin: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 20;
}

#overlay-inner-wrapper {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

#overlay-line {
    width: 90%;
    height: 1px;
    background-color: black;
    margin: 30px 0 20px;
}

#overlay-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#overlay-content ul li {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 20px;
    border: 1px solid black;
}

#overlay-content ul li:not(:last-child) {
    border-bottom: none;
}

#overlay-content ul li:nth-child(even) {
    background-color: rgb(226, 227, 240);
}

#overlay-button-container {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
}

#overlay-button-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    margin: 0 3px;
}

#overlay-keep-borrowing {
    background-color: var(--blue-button);
}

#overlay-keep-borrowing:hover {
    background-color: var(--blue-button-hover);
}

#overlay-keep-borrowing:active {
    background-color: var(--blue-button);
}

#returnAll {
    background-color: var(--red-button);
}

#returnAll:hover {
    background-color: var(--red-button-hover);
}

#returnAll:active {
    background-color: var(--red-button-active);
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 50px;
}

#books-header {
    margin: -20px 0 10px;
    position: relative;
    width: 70%;
    height: 100px;
}

#books-header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#books-overview-button {
    width: 40px;
    top: 50%;
    margin: 0;
    position: absolute;
    right: 0px;
    cursor: pointer;
}

#borrowed-books-counter {
    position: absolute;
    background-color: rgb(149, 190, 252);
    border-radius: 10px;
    padding: 5px;
    top: -10px;
    right: -5px;
    font-family: Arial, Helvetica, sans-serif;
}

#books-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.book {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    width: 160px;
}

.book h3 {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 10px;
    overflow: hidden;
    white-space: nowrap;
}

.book img {
    /* Approximately a good ratio for all book covers */
    height: 250px;
    width: inherit;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-wrapper button {
    width: 80px;
    height: 30px;
    border: none;
    margin: 0 5px;
    cursor: pointer;
}

.button-wrapper > .return {
    background-color: var(--red-button) !important;
}

.button-wrapper .disabled {
    background-color: rgb(179, 177, 177) !important;
    color: black !important;
    cursor: not-allowed;
    display: none;
}

.button-wrapper button:not(.disabled) {
    background-color: var(--blue-button);
    color: white;
}

.button-wrapper button:not(.disabled):hover {
    background-color: var(--blue-button-hover);
    color: white;
}

/* kontakt.html related css */

p {
    font-family: verdana;
}

#mainContact {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    width: 85%;
    justify-content: center;
    text-align: center;
    margin: 20px 0 40px;
}

#wrapperContact {
    width: 100%;
    display: flex;
}

#addressContact,
#subscribeContact {
    width: 42%;
    /* min-width: 400px; */
    /* text-align: left; */
}

@media screen and (max-width: 768px) {
    #wrapperContact {
        flex-direction: column;
        align-items: center;
    }

    #lineContact {
        display: none;
    }

    #addressContact,
    #subscribeContact,
    #supportContact {
        width: 80%;
    }
}

#lineContact {
    width: 1px;
    height: 250px;
    background-color: black;
    margin: 0 8%;
}

#supportContact {
    min-width: 400px;
    width: 42%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

#headerContact {
    font-size: 25px;
}

#email {
    font-family: verdana;
}

#buttonContact {
    background-color: rgb(91, 96, 185);
    color: white;
    font-family: verdana;
    border-color: rgb(91, 96, 185);
}

#inputContact:required {
    border-color: rgb(53, 54, 86);
    border-width: 2px;
}

/* Footer related css */

footer {
    background-color: var(--footer-color);
    height: 200px;
    margin-top: auto;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#outer-wrapper {
    width: 95%;
    display: flex;
    flex-direction: row;
    height: 90%;
}

#left-wrapper {
    width: 50%;
}

#inner-wrapper-2 {
    display: flex;
    flex-direction: row;
}

#container-2 {
    margin-left: 50px;
}

#right-wrapper {
    right: 0;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#right-wrapper img {
    height: 100%;
}

/* Hjem side */

#hjem-main {
    flex-direction: row;
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 20px 0 40px;
}

#Velkommen {
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding: 0 20px; */
}

#Velkommen p {
    font-size: 20px;
}

#Strek {
    height: 250px;
    width: 1px;
    background-color: black;
    margin: 20px 5% 0;
}

#Åpningstider {
    display: flex;
    width: 45%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

table {
    font-size: larger;
}

th {
    text-align: left;
}
th,
td {
    padding: 0 6px;
    width: 150px;
}

@media screen and (max-width: 768px) {
    #hjem-main {
        flex-direction: column;
        align-items: center;
    }

    #Velkommen {
        width: 80%;
        text-align: center;
    }

    #Strek {
        display: none;
    }

    #Åpningstider {
        width: 80%;
    }

    th,
    td {
        text-align: center;
    }
}

/* About page css */

#aboutMain {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
    column-gap: 3%;
}

#about-article {
    width: 50%;
    font-size: 18px;
}

@media (max-width: 700px) {
    #about-image {
        height: auto;
        width: 350px;
    }
    
    #about-article {
        min-width: 350px;
    }

}   

/* weekly */

.weeklyMain {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    padding-bottom: 5%;
    text-align: center;
}

.weeklyLeft {
    display: flex;
    width: 25%;
    margin-left: 2%;
    flex-direction: column;
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
}

.weeklyMiddel {
    display: flex;
    width: 2%;
    border-left: 2px solid black;
    height: 400px;
    flex-direction: column;
    margin-top: 5%;
}

.weeklyRight {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
}

.weeklyRight img {
    width: 250px;
    border: 1px solid black;
}

.wrls {
    display: flex;
    width: 45%;
    flex-direction: column;
    font-family: "Times New Roman", Times, serif;
    justify-content: center;
}

.wrrs {
    display: flex;
    flex-direction: column;
    width: 55%;
    padding-top: 4%;
    text-align: left;
}

#chooseWeek {
    background-color: var(--footer-color);
    width: 60%;
    text-align: center;
    color: white;
}

.weeklyList {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60%;
    height: 290px;
    border-top: 1px solid black;
    justify-content: center;
}

.weeklyList input {
    display: none;
}

.weeklyList label {
    padding-top: 15px;
    border-bottom: 1px solid black;
    /* display: inline-block; */
    flex-direction: row;
    /* position: relative; */
    cursor: pointer;
}

.weeklyList label:hover {
    background-color: rgb(202, 206, 226) !important;
}

.weeklyRight h2 {
    font-family: "Times New Roman", Times, serif;
    font-weight: lighter;
    text-decoration: underline;
}

.weeklyRight h1 {
    font-family: "Times New Roman", Times, serif;
    font-weight: lighter;
}

@media (max-width: 1380px) {
    #overlay-content {
        padding-bottom: 60px;
    }

    #overlay-inner-wrapper {
        margin-top: 40px;
    }
}

@media (max-width: 1200px) {
    .ntnu {
        display: none;
    }

    .title {
        width: 60%;
    }
}

@media (max-width: 1100px) {
    .weeklyRight img {
        width: 160px;
    }
}

@media screen and (max-width: 750px) {
    nav a {
        font-size: 20px;
    }
}

@media (max-width: 700px) {
    .weeklyRight {
        flex-direction: column;
    }

    .online {
        display: none;
    }

    .title {
        width: 100%;
    }

    #right-wrapper img {
        display: none;
    }
}

@media (max-width: 600px) {
    nav a {
        font-size: 16px;
    }

    .weeklyLeft {
        width: 100%;
        align-items: center;
    }

    .weeklyMiddel {
        width: 80%;
        border-left: 0;
        border-top: 2px solid black;
        height: 15px;
    }

    .wrls {
        width: 100%;
    }

    .wrrs {
        width: 100%;
        text-align: center;
    }

    .wrrs h2 {
        text-align: center;
    }
}


