body {
    margin: 0;
    padding: 0;

    font-family: Arial;
}

main {
    margin: 0 auto;
    width: 60%;
    padding: 50px;
}

main > div {
    width: 90%;
    border: 2px solid black;
    padding: 20px;
}

main div section {
    border-bottom: 2px solid black;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

main div section:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}

main div img {
    width: 100%;
}

ol {
    padding: 0 40px;
}

li:not(:last-child) img {
    margin-bottom: 20px;
}

li b {
    font-size: 18px;
}

li p {
    margin-top: 10px;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

#p2-minimum-req li:not(:last-child) {
    margin-bottom: 15px;
}